---
layout: default
---

<article class="post-card single-post">
  <div class="post-meta">
    {{ page.date | date: "%d %B %Y" }}
    {% if page.tags %} &ensp;·&ensp;
      {% for tag in page.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}
    {% endif %}
  </div>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-body">
    {{ content }}
  </div>
  <div class="comments-section">
  <div class="section-label" style="margin-top:2rem;">Comments</div>
  <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
  <hyvor-talk-comments
    website-id="15160"
    page-id="{{ page.url | absolute_url }}"
  ></hyvor-talk-comments>
</div>
</article>
